requests>=2, <3
pytest
pytest-cov
coverage
mock
sphinx
jinja2
python-dateutil

mapbox-vector-tile

numpy
pandas

pyyaml>=5.4

isort
black
twine

# Requirements for testing [async] extra
aiohttp
pytest-asyncio
unasync
