elastic-transport>=8.0.0b1, <9
requests>=2, <3
aiohttp
pytest
pytest-cov
pytest-asyncio
coverage
jinja2
python-dateutil
unasync
pyyaml>=5.4
isort
black
twine
build
nox

numpy
pandas

# Testing the 'search_mvt' API response
mapbox-vector-tile
# Python 3.7 gets an old version of mapbox-vector-tile, requiring an
# old version of protobuf
protobuf<4; python_version<="3.7"

# Docs
# Override Read the Docs default (sphinx<2 and sphinx-rtd-theme<0.5)
sphinx>2
sphinx-rtd-theme>0.5
sphinx-autodoc-typehints