include AUTHORS
include Changelog.rst
include CONTRIBUTING.md
include LICENSE
include MANIFEST.in
include README.rst
include README
include tox.ini
include setup.py
include elasticsearch/connection/esthrift/Rest-remote
recursive-include docs *

prune docs/_build
prune test_elasticsearch
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
