name: Unified Release

on:
  pull_request:
    paths-ignore:
      - 'README.md'
  push:
    paths-ignore:
      - 'README.md'
    branches:
      - main
      - '[0-9]+.[0-9]+'
      - '[0-9]+.x'

jobs:
  assemble:
    name: Assemble
    runs-on: ubuntu-latest
    env:
      STACK_VERSION: "8.10-SNAPSHOT"
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: "Assemble ${{ env.STACK_VERSION }}"
        run: "./.buildkite/make.sh assemble ${{ env.STACK_VERSION }}"
